[Desktop Entry]
Type=Application
Version=1.0
Name=Nova Shell
Comment=Start Nova Shell Horizon Bar
Exec=nova-shell
TryExec=nova-shell
Icon=novaos
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
OnlyShowIn=KDE;GNOME;XFCE;LXQt;
X-NovaOS-Component=nova-shell
