[SddmGreeterTheme]
Name=NovaOS
Description=NovaOS M1 greeter — Luminous Precision (X11-safe)
Author=Nova
Copyright=(c) Nova
License=MIT
Type=sddm-theme
Version=0.1.0
Website=https://novaos.local
Screenshot=novaos-mark.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=novaos
Theme-API=2.0
QtVersion=6
